# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
# Python-generated files
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv
.DS_Store

# vector_store
chroma_langchain_db/
chroma_score_db/
__MACOSX/._en
__MACOSX/en/._.DS_Store
__MACOSX/en/._about
__MACOSX/en/._faq
__MACOSX/en/._fragments
__MACOSX/en/._getstarted
__MACOSX/en/._home
__MACOSX/en/._menuStructure
__MACOSX/en/adminGuide/._m2m_legacy.md
__MACOSX/en/adminGuide/._manage_dependencies.md
__MACOSX/en/adminGuide/._operator.md
__MACOSX/en/adminGuide/._security.md
__MACOSX/en/adminGuide/._upgrade_milvus_cluster-helm.md
__MACOSX/en/adminGuide/._upgrade_milvus_embedded.md
__MACOSX/en/adminGuide/._upgrade_milvus_standalone-helm.md
__MACOSX/en/adminGuide/backup/._h2m.md
__MACOSX/en/adminGuide/backup/._m2h.md
__MACOSX/en/fragments/._cpu_support.md
__MACOSX/en/fragments/._faq_euclidean_ip_different_results.md
__MACOSX/en/fragments/._faq_flat_ivfflat.md
__MACOSX/en/fragments/._faq_normalize_embeddings.md
__MACOSX/en/fragments/._faq_recall_rate_sq8_sq8h.md
__MACOSX/en/fragments/._faq_top1_not_target.md
__MACOSX/en/fragments/._head.md
__MACOSX/en/fragments/._tail.md
__MACOSX/en/getstarted/._standalone
__MACOSX/en/getstarted/offline/._install_offline-helm.md
__MACOSX/en/getstarted/run-milvus-docker/._install_standalone-docker.md
__MACOSX/en/getstarted/standalone/._install_standalone-aptyum.md
__MACOSX/en/getstarted/standalone/._install_standalone-helm.md
__MACOSX/en/getstarted/standalone/._install_standalone-operator.md
__MACOSX/en/getstarted/with_gpu/._install_standalone-helm-gpu.md
__MACOSX/en/integrations/._integrate_with_bentoml.md
__MACOSX/en/integrations/._integrate_with_fastgpt.md
__MACOSX/en/integrations/._integrate_with_haystack.md
__MACOSX/en/integrations/._integrate_with_hugging-face.md
__MACOSX/en/integrations/._integrate_with_jina.md
__MACOSX/en/integrations/._integrate_with_langchain.md
__MACOSX/en/integrations/._integrate_with_llamaindex.md
__MACOSX/en/integrations/._integrate_with_memgpt.md
__MACOSX/en/integrations/._integrate_with_openai.md
__MACOSX/en/integrations/._integrate_with_ragas.md
__MACOSX/en/integrations/._integrate_with_vanna.md
__MACOSX/en/integrations/._integrate_with_voyageai.md
__MACOSX/en/menuStructure/._en.json
__MACOSX/en/migrate/._from-m2x.md
__MACOSX/en/migrate/._migrate_overview.md
__MACOSX/en/reference/._index.md
__MACOSX/en/reference/._sparse_vector.md
__MACOSX/en/reference/architecture/._architecture.md
__MACOSX/en/tutorials/._build-rag-with-milvus.md
__MACOSX/en/tutorials/._image_similarity_search.md
__MACOSX/en/userGuide/._load_balance.md
__MACOSX/en/userGuide/._tune_consistency.md
__MACOSX/en/userGuide/._using_milvusclient.md
__MACOSX/en/userGuide/tools/._cli_commands.md
__MACOSX/en/userGuide/tools/._cli_overview.md
en/release_notes.md
en/Variables.json
en/about/comparison.md
en/about/limitations.md
en/about/milvus_adopters.md
en/about/overview.md
en/about/roadmap.md
en/adminGuide/allocate.md
en/adminGuide/authenticate.md
en/adminGuide/chunk_cache.md
en/adminGuide/configure_access_logs.md
en/adminGuide/configure_operator.md
en/adminGuide/configure-docker.md
en/adminGuide/configure-helm.md
en/adminGuide/deploy_etcd.md
en/adminGuide/deploy_pulsar.md
en/adminGuide/deploy_s3.md
en/adminGuide/dynamic_config.md
en/adminGuide/limit_collection_counts.md
en/adminGuide/m2m_legacy.md
en/adminGuide/manage_dependencies.md
en/adminGuide/message_storage_operator.md
en/adminGuide/meta_storage_operator.md
en/adminGuide/object_storage_operator.md
en/adminGuide/operator.md
en/adminGuide/rbac.md
en/adminGuide/resource_group.md
en/adminGuide/scale-dependencies.md
en/adminGuide/scaleout.md
en/adminGuide/security.md
en/adminGuide/tls.md
en/adminGuide/upgrade_milvus_cluster-docker.md
en/adminGuide/upgrade_milvus_cluster-helm.md
en/adminGuide/upgrade_milvus_cluster-operator.md
en/adminGuide/upgrade_milvus_embedded.md
en/adminGuide/upgrade_milvus_standalone-docker.md
en/adminGuide/upgrade_milvus_standalone-helm.md
en/adminGuide/upgrade_milvus_standalone-operator.md
en/adminGuide/backup/h2m.md
en/adminGuide/backup/m2h.md
en/adminGuide/clouds/aws/aws.md
en/adminGuide/clouds/aws/eks.md
en/adminGuide/clouds/azure/abs.md
en/adminGuide/clouds/azure/azure.md
en/adminGuide/clouds/azure/ingress.md
en/adminGuide/clouds/gcp/gcp_layer7.md
en/adminGuide/clouds/gcp/gcp.md
en/adminGuide/clouds/gcp/gcs.md
en/adminGuide/monitor/alert.md
en/adminGuide/monitor/configure_grafana_loki.md
en/adminGuide/monitor/metrics_dashboard.md
en/adminGuide/monitor/monitor_overview.md
en/adminGuide/monitor/monitor.md
en/adminGuide/monitor/visualize.md
en/embeddings/embed-with-bgm-m3.md
en/embeddings/embed-with-bm25.md
en/embeddings/embed-with-cohere.md
en/embeddings/embed-with-jina.md
en/embeddings/embed-with-openai.md
en/embeddings/embed-with-sentence-transform.md
en/embeddings/embed-with-splade.md
en/embeddings/embed-with-voyage.md
en/embeddings/embeddings.md
en/faq/operational_faq.md
en/faq/performance_faq.md
en/faq/product_faq.md
en/faq/troubleshooting.md
en/fragments/api_reference.md
en/fragments/cpu_support.md
en/fragments/create_a_k8s_cluster_using_minikube.md
en/fragments/faq_euclidean_ip_different_results.md
en/fragments/faq_flat_ivfflat.md
en/fragments/faq_normalize_embeddings.md
en/fragments/faq_recall_rate_sq8_sq8h.md
en/fragments/faq_top1_not_target.md
en/fragments/head.md
en/fragments/installation_guide_cluster.md
en/fragments/installation_guide.md
en/fragments/multiple_code.md
en/fragments/multiple_sdk.md
en/fragments/sdk_restful.md
en/fragments/tail.md
en/getstarted/milvus_lite.md
en/getstarted/quickstart.md
en/getstarted/install_SDKs/install-go.md
en/getstarted/install_SDKs/install-java.md
en/getstarted/install_SDKs/install-node.md
en/getstarted/install_SDKs/install-pymilvus.md
en/getstarted/offline/install_offline-helm.md
en/getstarted/run-milvus-docker/install_standalone-docker-compose.md
en/getstarted/run-milvus-docker/install_standalone-docker.md
en/getstarted/run-milvus-docker/prerequisite-docker.md
en/getstarted/run-milvus-gpu/install_cluster-helm-gpu.md
en/getstarted/run-milvus-gpu/install_standalone-docker-compose-gpu.md
en/getstarted/run-milvus-gpu/prerequisite-gpu.md
en/getstarted/run-milvus-k8s/install_cluster-helm.md
en/getstarted/run-milvus-k8s/install_cluster-milvusoperator.md
en/getstarted/run-milvus-k8s/prerequisite-helm.md
en/getstarted/standalone/install_standalone-aptyum.md
en/getstarted/standalone/install_standalone-helm.md
en/getstarted/standalone/install_standalone-operator.md
en/getstarted/with_gpu/install_standalone-helm-gpu.md
en/home/home.json
en/home/home.md
en/integrations/integrate_with_bentoml.md
en/integrations/integrate_with_cohere.md
en/integrations/integrate_with_dspy.md
en/integrations/integrate_with_fastgpt.md
en/integrations/integrate_with_haystack.md
en/integrations/integrate_with_hugging-face.md
en/integrations/integrate_with_jina.md
en/integrations/integrate_with_langchain.md
en/integrations/integrate_with_langfuse.md
en/integrations/integrate_with_llamaindex.md
en/integrations/integrate_with_memgpt.md
en/integrations/integrate_with_openai.md
en/integrations/integrate_with_pytorch.md
en/integrations/integrate_with_ragas.md
en/integrations/integrate_with_sentencetransformers.md
en/integrations/integrate_with_snowpark.md
en/integrations/integrate_with_spark.md
en/integrations/integrate_with_vanna.md
en/integrations/integrate_with_voxel51.md
en/integrations/integrate_with_voyageai.md
en/integrations/integrate_with_whyhow.md
en/menuStructure/en.json
en/migrate/es2m.md
en/migrate/f2m.md
en/migrate/from-m2x.md
en/migrate/m2m.md
en/migrate/migrate_overview.md
en/migrate/milvusdm_install.md
en/reference/array_data_type.md
en/reference/benchmark.md
en/reference/bitset.md
en/reference/boolean.md
en/reference/consistency.md
en/reference/coordinator_ha.md
en/reference/disk_index.md
en/reference/glossary.md
en/reference/gpu_index.md
en/reference/index.md
en/reference/knowhere.md
en/reference/metric.md
en/reference/mmap.md
en/reference/multi_tenancy.md
en/reference/replica.md
en/reference/reranking.md
en/reference/scalar_index.md
en/reference/schema.md
en/reference/sparse_vector.md
en/reference/time_sync.md
en/reference/timestamp.md
en/reference/users_and_roles.md
en/reference/architecture/architecture_overview.md
en/reference/architecture/architecture.md
en/reference/architecture/data_processing.md
en/reference/architecture/four_layers.md
en/reference/architecture/main_components.md
en/reference/sys_config/configure_common.md
en/reference/sys_config/configure_datacoord.md
en/reference/sys_config/configure_datanode.md
en/reference/sys_config/configure_etcd.md
en/reference/sys_config/configure_indexnode.md
en/reference/sys_config/configure_kafka.md
en/reference/sys_config/configure_knowhere.md
en/reference/sys_config/configure_localstorage.md
en/reference/sys_config/configure_log.md
en/reference/sys_config/configure_messagechannel.md
en/reference/sys_config/configure_minio.md
en/reference/sys_config/configure_nats.md
en/reference/sys_config/configure_proxy.md
en/reference/sys_config/configure_pulsar.md
en/reference/sys_config/configure_querycoord.md
en/reference/sys_config/configure_querynode.md
en/reference/sys_config/configure_quota_limits.md
en/reference/sys_config/configure_rocksmq.md
en/reference/sys_config/configure_rootcoord.md
en/reference/sys_config/system_configuration.md
en/rerankers/rerankers-bge.md
en/rerankers/rerankers-cohere.md
en/rerankers/rerankers-cross-encoder.md
en/rerankers/rerankers-jina.md
en/rerankers/rerankers-overview.md
en/rerankers/rerankers-voyage.md
en/tutorials/audio_similarity_search.md
en/tutorials/build-rag-with-milvus.md
en/tutorials/dna_sequence_classification.md
en/tutorials/image_deduplication_system.md
en/tutorials/image_similarity_search.md
en/tutorials/question_answering_system.md
en/tutorials/recommendation_system.md
en/tutorials/text_image_search.md
en/tutorials/text_search_engine.md
en/tutorials/video_similarity_search.md
en/userGuide/enable-dynamic-field.md
en/userGuide/insert-update-delete.md
en/userGuide/load_balance.md
en/userGuide/manage_databases.md
en/userGuide/manage-collections.md
en/userGuide/manage-partitions.md
en/userGuide/tune_consistency.md
en/userGuide/use-json-fields.md
en/userGuide/use-partition-key.md
en/userGuide/using_milvusclient.md
en/userGuide/data-import/import-data.md
en/userGuide/data-import/prepare-source-data.md
en/userGuide/manage-indexes/index-scalar-fields.md
en/userGuide/manage-indexes/index-vector-fields.md
en/userGuide/manage-indexes/index-with-gpu.md
en/userGuide/search-query-get/get-and-scalar-query.md
en/userGuide/search-query-get/multi-vector-search.md
en/userGuide/search-query-get/single-vector-search.md
en/userGuide/search-query-get/with-iterators.md
en/userGuide/tools/birdwatcher_install_guides.md
en/userGuide/tools/birdwatcher_overview.md
en/userGuide/tools/birdwatcher_usage_guides.md
en/userGuide/tools/cli_commands.md
en/userGuide/tools/cli_overview.md
en/userGuide/tools/install_cli.md
en/userGuide/tools/milvus_backup_api.md
en/userGuide/tools/milvus_backup_cli.md
en/userGuide/tools/milvus_backup_overview.md
en/userGuide/tools/milvus-cdc/cdc-monitoring.md
en/userGuide/tools/milvus-cdc/deploy-cdc-server.md
en/userGuide/tools/milvus-cdc/manage-cdc-tasks.md
en/userGuide/tools/milvus-cdc/milvus-cdc-overview.md
